
@media all and (max-width: 459px)
{
    div.kidsimg {
        width:100px;
        height:120px;
        margin:0 auto;

        text-align: center;
    }

    img.kidsimg
    {
        width:100px;
        height:100px;
    }

    .kids_detail p {
        vertical-align: middle;
        display: table-cell;
    }

    .kids_detail p {
        font-size: 14px;
    }

    .kids_detail b {
        font-size: 20px;
    }
}

@media all and (min-width:460px) {

    .kidsimg {
        width:100px;
        height:100px;

        vertical-align:middle;
        float: left;
        text-align: center;
    }

    .kids_detail p {
        vertical-align: middle;
    }

    .kids_detail p {
        font-size: 14px;
    }

    .kids_detail b {
        font-size: 20px;
    }

    .kids_select {
        display : table;
    }

    .kids_select div {
        display: table-cell;
        vertical-align: middle;
    }

    .kids_select div div {
        display: block;
        position: relative;
        margin: 0 auto;
    }

    .kids_select div div input {
        margin-right:4px;
    }

    .insert_select div:nth-child(1) {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .goal_info div:nth-child(2n+1) {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .goal_info div:nth-child(2n) {
        padding-bottom: 1em;
        font-size: 1.2em;
    }

}

@media (min-width: 460px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .kids_detail p {
        font-size: 20px;
    }

    .kids_detail b {
        font-size: 30px;
    }

}

.kidsimgc {
    padding-top : 80px;
    display:none;
    position:absolute;
    background-color: rgba(255,255,255, 0.7);
}

a.kidsimgc{
    color:#000;
    text-decoration:none;
    text-align: center;
}

.kidsimgo {
    background-image: url('../images/kids/default.png');
    background-size: cover;
}

.kids_detail div {
    /*text-align: -webkit-center;*/
    position: relative;
    display: table;
    margin: 0 auto;
}

.kids_detail div div {
    float: left;
    vertical-align: middle;
}

.kids_detail div div:nth-child(1) {
    padding-right: 10px;
}

#insertWeek > div {
    padding-bottom: 50px;
}

.popup {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10000;
    display: none;
    background-color: rgba(0,0,0, 0.7);
}

.quest_body {
    margin:0 auto;
}

#quest_kidsSelect {
    width:240px;
}

#quest_kidsSelect > div {
    margin-bottom: 30px;
}

#quest_content div {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}

#quest_content div h4 {
    display: table-cell;
    width: 120px;
    padding-right: 20px;
    text-align: left;
}

#quest_content div input {
    display: table-cell;
    width: 160px;
}

#quest_content div select {
    display: table-cell;
    width: 160px;
}

#quest_content div span {
    display: table-cell;
    width: 160px;
}

#quest_comment {
    padding-left: 20px;
    padding-right: 20px;
}

#quest_comment div {
    text-align: center;
}

#quest_comment input {
    width:100%;
}

.quest_button {
    margin : 0 auto;
    margin-top: 20px;
    display: table;
}

.quest_button > button {
    margin : 0 5px;
    width: 10px;
    font-size: 14px;
    display: table-cell;
}

.dataTable img {
    width: 2em;
    padding-right:10px
}

a.panel_close {
    color:#fff;
}